<h1>Class Info:</h1>

<p><%= "Class: #{@schoolclass.title}" %></p>
<p>Room Number: <%= @schoolclass.room_number %></p>

<p><%= link_to "Back", school_classes_path %></p>
<p><%= link_to "Edit", edit_school_class_path %></p>
