 <h1><%= @school_class.title %></h1>

 <p><%= "This classroom can be found at room number: #{@school_class.room_number}" %></p>
<hr>
<p><%= link_to "Edit Classroom", edit_school_class_url %></br>
 <%= link_to "Return to All Classrooms", school_classes_url %></p>
